@include component('off-canvas') {
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  display: block;
  height: 100%;
  max-width: 300px;
  overflow: auto;
  position: fixed 0 auto 0;
  width: 100%;
  z-index: 1000;
}
