@include component('off-canvas') {
  position: fixed 0 auto 0;
  width: 100%;
  z-index: 1000;

  @include element('content') {
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    display: block;
    height: 100%;
    overflow: auto;
    width: 100%;
  }
}
