.off-canvas-left {
  &-transition {
    left: 0;
    right: auto;
    transition: $transition-time transform $transition-function;
  }

  &-enter,
  &-leave {
    transform: translate3d(-100%, 0, 0);
  }
}

.off-canvas-right {
  &-transition {
    left: auto;
    right: 0;
    transition: $transition-time transform $transition-function;
  }

  &-enter,
  &-leave {
    transform: translate3d(100%, 0, 0);
  }
}





.off-canvas-overlay {
  &-transition {
    transition: $transition-time opacity
  }

  &-enter,
  &-leave {
    opacity: 0;
  }
}
