/*------------------------------------*\
  #Project
\*------------------------------------*/

$light-grey: #e0e0e0;

$color-primary:	#41B883;
$color-secondary:	#ffc93c;
$color-tertiary:	#35495E;

$gutter: 2rem;

$vertical-rhythm: 1.5rem;

$sidebar-width: 280px;





/*------------------------------------*\
  #Tools
\*------------------------------------*/

$bem-modifies-element-separato: '>'
