/*------------------------------------*\
  #ITCSS
\*------------------------------------*/

// SETTINGS
@import "~wocss-settings-breakpoints";
@import "~wocss-settings-colors";
@import "settings.defaults";





// TOOLS
@import "~wocss-tools-breakpoints";
@import "~wocss-tools-bem-constructor";
@import "~wocss-tools-resets";
@import "tools.screen-reader";
@import "tools.card";





// GENERIC
@import "~sanitize.css/sanitize.css";
@import "~highlight.js/styles/atom-one-light.css";
@import "~github-markdown-css";
@import "generic.github-corner";





// BASE
@import "base.defaults";





// OBJECTS
@import "~wocss-objects-reset-list";
@import "~wocss-objects-screen-reader";





// COMPONENTS
@import "components.sidebar";
@import "components.main";
@import "components.item";
@import "components.footer";
@import "components.markdown-body";





// TRUMPS
@import "trumps.gutter";
